services:
    kodus-mcp-manager:
        container_name: kodus-mcp-manager
        build:
            context: .
            dockerfile: DockerFiles/Dockerfile.dev
        ports:
            - '3101:3101'
            - '9140:9140'
        restart: unless-stopped
        volumes:
            - .:/usr/src/app
            # - /usr/src/app/node_modules
        environment:
            - NODE_ENV=development
            - API_MCP_MANAGER_NODE_ENV=development
        env_file:
            - .env
        networks:
            - kodus-backend-services
            - shared-network

networks:
    kodus-backend-services:
        external: true
    shared-network:
        external: true
